vault-password.txt
/callback_plugins/__pycache__

roles/neovim/files/lazy-lock.json

.DS_Store
*.DS_Store
test.sh
main.yml.bak
.venv

# User-specific configuration
.dotfiles.conf
.dotfiles.log
.dotfiles_run
