---
- name: "gnome-wallpaper | ArchLinux | Check if GNOME is installed (Arch)"
  ansible.builtin.command:
    cmd: "pacman -Q gnome-shell"
  register: gnome_installed
  changed_when: false
  failed_when: gnome_installed.rc != 0

- name: "gnome-wallpaper | ArchLinux | Check if GNOME session is running"
  ansible.builtin.shell:
    cmd: "echo $XDG_CURRENT_DESKTOP"
  register: gnome_running
  changed_when: false
  failed_when: false
  when: gnome_installed.rc == 0

- name: "gnome-wallpaper | ArchLinux | Check if Linux Dynamic Wallpapers repo exists"
  stat:
    path: "{{ ansible_env.HOME }}/.local/share/backgrounds/Linux_Dynamic_Wallpapers/.git"
  register: repo_status

- name: "gnome-wallpaper | ArchLinux | Update existing repository (git pull)"
  ansible.builtin.command:
    cmd: "git pull"
    chdir: "{{ ansible_env.HOME }}/.local/share/backgrounds/Linux_Dynamic_Wallpapers"
  when: repo_status.stat.exists
  changed_when: true

- name: "gnome-wallpaper | ArchLinux | Clone Linux Dynamic Wallpapers repository"
  ansible.builtin.git:
    repo: "https://github.com/saint-13/Linux_Dynamic_Wallpapers.git"
    dest: "{{ ansible_env.HOME }}/.local/share/backgrounds/Linux_Dynamic_Wallpapers"
    version: main
    depth: 1
  when: not repo_status.stat.exists

- name: "gnome-wallpaper | ArchLinux | Run the Linux Dynamic Wallpapers installation script"
  ansible.builtin.command:
    cmd: "bash install.sh"
    chdir: "{{ ansible_env.HOME }}/.local/share/backgrounds/Linux_Dynamic_Wallpapers"
  become: true
  changed_when: true

- name: gnome-wallpaper | ArchLinux | Check if the dynamic wallpaper file exists
  ansible.builtin.stat:
    path: /usr/share/backgrounds/Dynamic_Wallpapers/DesertSands.xml
  register: desert_sands_file

- name: gnome-wallpaper | ArchLinux | Register variable based on file existence
  ansible.builtin.set_fact:
    desert_sands_exists: "{{ desert_sands_file.stat.exists }}"

- name: "gnome-wallpaper | ArchLinux | Set GNOME wallpaper for light mode"
  ansible.builtin.shell: |
    export DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/$(id -u)/bus"
    gsettings set org.gnome.desktop.background picture-uri 'file:////usr/share/backgrounds/Dynamic_Wallpapers/DesertSands.xml'
  args:
    executable: /bin/bash
  become: false
  when: gnome_running and desert_sands_exists

- name: "gnome-wallpaper | ArchLinux | Set GNOME wallpaper for dark mode"
  ansible.builtin.shell: |
    export DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/$(id -u)/bus"
    gsettings set org.gnome.desktop.background picture-uri-dark 'file:////usr/share/backgrounds/Dynamic_Wallpapers/DesertSands.xml'
  args:
    executable: /bin/bash
  become: false
  when: gnome_running and desert_sands_exists
