---
- name: "system | {{ ansible_distribution }} | Update & Upgrade via pacman"
  community.general.pacman:
    update_cache: true
    upgrade: true
    state: latest
  become: true

- name: "system | {{ ansible_distribution }} | Install"
  community.general.pacman:
    name:
      - jq
      - bc
    state: present
  become: true
