---
- name: "teamviewer | Archlinux | Check if TeamViewer is installed"
  ansible.builtin.command:
    cmd: yay -Q teamviewer
  register: teamviewer_installed
  changed_when: false
  failed_when: false

- name: "teamviewer | Archlinux | Install TeamViewer from AUR"
  ansible.builtin.command:
    cmd: yay -S --noconfirm teamviewer
  when: teamviewer_installed.rc != 0
