---
- name: "naps2 | ArchLinux | Install sane-airscan"
  community.general.pacman:
    name: sane-airscan
    state: present
  become: true

- name: "naps2 | ArchLinux | Check if naps2 is installed"
  ansible.builtin.command:
    cmd: yay -Q naps2
  register: naps2_installed
  changed_when: false
  failed_when: false

- name: "naps2 | ArchLinux | Install naps2 from AUR"
  ansible.builtin.command:
    cmd: yay -S --noconfirm naps2
  when: naps2_installed.rc != 0
