---
- name: "onlyoffice | ArchLinux | Check if OnlyOffice is installed"
  ansible.builtin.command:
    cmd: yay -Q onlyoffice-bin
  register: onlyoffice_installed
  changed_when: false
  failed_when: false

- name: "onlyoffice | ArchLinux | Install OnlyOffice from AUR"
  ansible.builtin.command:
    cmd: yay -S --noconfirm onlyoffice-bin
  when: onlyoffice_installed.rc != 0
