---
- name: "auto-cpufreq | Download latest version json"
  ansible.builtin.uri:
    url: "https://api.github.com/repos/AdnanHodzic/auto-cpufreq/releases/latest"
  register: auto_cpufreq_latest_version_json
  changed_when: false

- name: "auto-cpufreq | Registering auto-cpufreq latest release"
  ansible.builtin.set_fact:
    auto_cpufreq_latest_release: "{{ auto_cpufreq_latest_version_json.json.tag_name }}"

- name: "auto-cpufreq | Getting installed version information"
  ansible.builtin.shell:
    cmd: auto-cpufreq --version | grep -oP 'auto-cpufreq version:\s\K.*'
  args:
    executable: /bin/bash
  register: current_auto_cpufreq_version
  changed_when: false
  failed_when: false

- name: "auto-cpufreq | Show current_auto_cpufreq_version debug"
  ansible.builtin.debug:
    var: current_auto_cpufreq_version.stdout

- name: "auto-cpufreq | Show auto_cpufreq_latest_release debug"
  ansible.builtin.debug:
    var: auto_cpufreq_latest_release

- name: "auto-cpufreq | Check if auto-cpufreq is installed"
  ansible.builtin.command:
    cmd: which auto-cpufreq
  register: auto_cpufreq_installed
  changed_when: false
  failed_when: false

- name: "auto-cpufreq | Update auto-cpufreq (if already installed)"
  when:
    - auto_cpufreq_installed.rc == 0
    - (auto_cpufreq_latest_release | regex_replace('^v', '')) != (current_auto_cpufreq_version.stdout | default('') | regex_replace('^v', ''))
  block:
    - name: "Auto-CpuFreq | Run auto-cpufreq --update"
      ansible.builtin.command:
        cmd: "auto-cpufreq --update"
      become: true

    - name: "auto-cpufreq | Run auto-cpufreq installer after update"
      ansible.builtin.command:
        cmd: "./auto-cpufreq-installer"
      args:
        chdir: "/opt/auto-cpufreq/source"
      become: true

- name: "auto-cpufreq | Install auto-cpufreq (if not installed)"
  when: auto_cpufreq_installed.rc != 0
  block:

    - name: "auto-cpufreq | Ensure cloning directory exists"
      ansible.builtin.file:
        path: "/opt/auto-cpufreq/source"
        state: directory
        mode: "0755"
        owner: root
        group: root
      become: true

    - name: "auto-cpufreq | Clone latest auto-cpufreq repository"
      ansible.builtin.git:
        repo: "https://github.com/AdnanHodzic/auto-cpufreq.git"
        dest: "/opt/auto-cpufreq/source"
        version: "{{ auto_cpufreq_latest_release }}"
        depth: 1
      become: true

    - name: "auto-cpufreq | Run auto-cpufreq installer"
      ansible.builtin.command:
        cmd: "./auto-cpufreq-installer"
      args:
        chdir: "/opt/auto-cpufreq/source"
      become: true
