---
- name: "fastfetch | Ubuntu | Add Fastfetch PPA"
  ansible.builtin.apt_repository:
    repo: "ppa:zhangsongcui3371/fastfetch"
    state: present
  become: true

- name: "fastfetch | Ubuntu | Install fastfetch"
  ansible.builtin.apt:
    name: fastfetch
    state: present
    update_cache: true
  become: true
