---
- name: "{{ role_name }} | ArchLinux | Check if {{ role_name }} is installed"
  ansible.builtin.command:
    cmd: yay -Q popsicle-bin
  register: popsicle_installed
  changed_when: false
  failed_when: false

- name: "{{ role_name }} | ArchLinux | Install {{ role_name }} from AUR"
  ansible.builtin.command:
    cmd: yay -S --noconfirm popsicle-bin
  when: popsicle_installed.rc != 0
